body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../images/sign-up-background.jpg");
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#persoonsgegevensForm, #inloggegevensform {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color:rgba(245, 245, 245, 0.682);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-label {
    font-weight: bold;
}

.form-control, .form-control:focus {
    background-color: rgba(255, 255, 255, 0.5);
}